<section>
	<div ng-menu></div>
	<div class="anunciante-slider">
		<div id="SLDR-ONE" class="sldr">
			<ul class="wrp animate">
				<li class="elmnt-one"><div class="skew"><div class="wrap"><img src="../assets/images/Lake.jpg" height="450"></div></div></li>
				<li class="elmnt-two"><div class="skew"><div class="wrap"><img src="../assets/images/Mountain-Range.jpg" height="450"></div></div></li>
				<li class="elmnt-three"><div class="skew"><div class="wrap"><img src="../assets/images/Mt-Fuji.jpg" height="450"></div></div></li>
				<li class="elmnt-four"><div class="skew"><div class="wrap"><img src="../assets/images/Pink-Forest.jpg" height="450"></div></div></li>
			</ul>
		</div>
	</div>
	<div class="header-anunciante">
		<div class="container">
			<div class="content-anunciante">
				<h2>GUSMÃO MODA MASCULINA</h2>
				<p><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Rua dos Bomebeiros 439 | Araraquara | São Paulo</p>	 
				<p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> (16) 997466551 <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> (16) 997466551</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-8">
				<div class="content-descricao">
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </p>

					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </p>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="content-extra"> 
					<span><img src="../assets/images/ico/categorias/roupa.png" alt=""> Roupas</span>
					<span><img src="../assets/images/ico/categorias/roupa.png" alt=""> Loja</span>
					<p>gusmaomodamasculina@gmail.com</p>
					<p>Segunda - Sexta | 08:00 - 18:00</p>
					<p>Sábado | 08:00 - 17:00</p>
					<p>Domingo | Fechado</p>
					<nav class="midia-extra">
						<a href="" target="_blank" title="Facebook">
							<img src="../assets/images/ico/facea.png" alt="Facebook">
						</a>
						<a href="" target="_blank" title="Facebook">
							<img src="../assets/images/ico/instaa.png" alt="Instagran">
						</a>
						<a href="" target="_blank" title="Facebook">
							<img src="../assets/images/ico/twittera.png" alt="Twitter">
						</a>
						<a href="" target="_blank" title="Facebook">
							<img src="../assets/images/ico/snapa.png" alt="Twitter">
						</a>
					</nav>	
				</div>
			</div>
			<div class="col-xs-12">
				<div class="content-promocao">
					<div class="promocao-extra">
						<div class="row">
							<h2>Promoções</h2>
							<p>Nossas promoções, feitas para você</p>	
							<div class="row">
								<div class="col-sm-6 col-md-3">
									<a href="">
										<div class="thumb-promocao">
											<img alt="100%x200" data-src="holder.js/100%x200" src="../assets/images/teste.png" data-holder-rendered="true" style="height: 250px; width: 100%; display: block;">	
											<div class="caption">
												<h3>Gusmão</h3>
												<p>Roupas masculinas com 30% de desconto.</p>
												<div class="cidade-promocao">
													<span>Araraquara - SP</span>
												</div>
											</div>			
										</div>		
									</a>		
								</div>
								<div class="col-sm-6 col-md-3">
									<a href="">
										<div class="thumb-promocao">
											<img alt="100%x200" data-src="holder.js/100%x200" src="../assets/images/teste.png" data-holder-rendered="true" style="height: 250px; width: 100%; display: block;">	
											<div class="caption">
												<h3>Gusmão</h3>
												<p>Roupas masculinas com 30% de desconto.</p>
												<div class="cidade-promocao">
													<span>Araraquara - SP</span>
												</div>
											</div>			
										</div>		
									</a>		
								</div>
								<div class="col-sm-6 col-md-3">
									<a href="">
										<div class="thumb-promocao">
											<img alt="100%x200" data-src="holder.js/100%x200" src="../assets/images/teste.png" data-holder-rendered="true" style="height: 250px; width: 100%; display: block;">	
											<div class="caption">
												<h3>Gusmão</h3>
												<p>Roupas masculinas com 30% de desconto.</p>
												<div class="cidade-promocao">
													<span>Araraquara - SP</span>
												</div>
											</div>			
										</div>		
									</a>		
								</div>
								<div class="col-sm-6 col-md-3">
									<a href="">
										<div class="thumb-promocao">
											<img alt="100%x200" data-src="holder.js/100%x200" src="../assets/images/teste.png" data-holder-rendered="true" style="height: 250px; width: 100%; display: block;">	
											<div class="caption">
												<h3>Gusmão</h3>
												<p>Roupas masculinas com 30% de desconto.</p>
												<div class="cidade-promocao">
													<span>Araraquara - SP</span>
												</div>
											</div>			
										</div>			
									</a>		
								</div>									
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="gps-extra">
					<div id="GPS">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="publicidade">
		<div class="container">
			<div class="publicidade-content">
				<img alt="100%x200" data-src="holder.js/100%x200" src="../assets/images/publicidade.jpg" data-holder-rendered="true" style="height: 90; width: 760px; display: block;" class="center-block">	
			</div>
		</div>
	</div>
	<div class="map">
		<div class="container">
			<div class="row">
				<div class="col-md-6 map-align">
					<h2>SOBRE</h2>
					<ul>
						<li>O que é o GuiaOnlinee ?</li>
						<li>Como Divulgar</li>
						<li>Contato</li>
					</ul>
					<h2>PARCEIROS</h2>
					<p>Clicke | FazPedidos</p>
				</div>
				<div class="col-md-6">	
					<h2>NEWSLETTER</h2>
					<p>Inscreva-se em nossa newsletter e receba e-mails sobre novidades e atualizações do GuiaOnlinee.</p>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="seu e-mail" value="" name="cidade" id="" maxlength=""/>
						<span class="input-group-btn">
							<input type="button" class="btn btn-default btn-search btn-block" value="Inscrever"/>
						</span>
					</div>
					<h2>SIGA-NOS</h2>
					<nav class="midia">
						<a href="" target="_blank" title="Facebook">
							<img src="../assets/images/face.png" alt="Facebook">
						</a>
						<a href="" target="_blank" title="Facebook">
							<img src="../assets/images/insta.png" alt="Instagran">
						</a>
						<a href="" target="_blank" title="Facebook">
							<img src="../assets/images/twitter.png" alt="Twitter">
						</a>
					</nav>
				</div>
			</div>	
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="copyright-content">
				<img src="https://livedemo00.template-help.com/wordpress_53995/wp-content/themes/theme53995-child/images/logo.png" class="center-block" alt="">
				<p>Guiaonlinee.com.br © 2017</p>
			</div>
		</div>
	</div>
</div>
</div>	
</section>

<script src="assets/js/map-anunciante.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8VDcokUxX2xt3aoQf3ycK_i8Og7u54EI&libraries=places&callback=initMap" async defer></script>
<script>

	$( document ).ready( function() {

		$( '.sldr' ).each( function() {
			var th = $( this );
			th.sldr({
				focalClass    : 'focalPoint',
				offset        : th.width() / 2,
				sldrWidth     : 'responsive',
				nextSlide     : th.nextAll( '.sldr-nav.next:first' ),
				previousSlide : th.nextAll( '.sldr-nav.prev:first' ),
				selectors     : th.nextAll( '.selectors:first' ).find( 'li' ),
				toggle        : th.nextAll( '.captions:first' ).find( 'div' ),
				sldrInit      : sliderInit,
				sldrStart     : slideStart,
				sldrComplete  : slideComplete,
				sldrLoaded    : sliderLoaded,
				sldrAuto      : true,
				sldrTime      : 5000,
				hasChange     : true
			});
		});

	});

/**
 * Sldr Callbacks
 */

/**
 * When the sldr is initiated, before the DOM is manipulated
 * @param {object} args the slides, callback, and config of the slider
 * @return null
 */
 function sliderInit( args ) {

 }

/**
 * When individual slides are loaded
 * @param {object} args the slides, callback, and config of the slider
 * @return null
 */
 function slideLoaded( args ) {

 }

/**
 * When the full slider is loaded, after the DOM is manipulated
 * @param {object} args the slides, callback, and config of the slider
 * @return null
 */
 function sliderLoaded( args ) {

 }

/**
 * Before the slides change focal points
 * @param {object} args the slides, callback, and config of the slider
 * @return null
 */
 function slideStart( args ) {

 }

/**
 * After the slides are done changing focal points
 * @param {object} args the slides, callback, and config of the slider
 * @return null
 */
 function slideComplete( args ) {

 }

</script>